module.exports = {
	prefix:"s!",
	admin: ["ID of an admin", "Second admin?"],
	token: "TOKEN_HERE",
	show_invite: false,
	//Cat images API
	CatAPI: false,
	//Google Geocoding API
	googleGeoAPIkey: false,
	//Dark Sky API (weather)
	DarkSkyAPIKey: false,
	//Bitly shortener login & API
	bitlyApiLogin: false,
	bitlyApiKey: false,
	//Google shortener API key
	googleShortenerApiKey: false,
	//For searching youtube-node
	youtubeSearchApi: false
}
